Project/Detect_Anomaly_In_PCB/DataSet/*
Project/Detect_Anomaly_In_PCB/Tools/*
Project/Detect_Anomaly_In_PCB/_Models/*
Project/DetectAnomalyPCB
Project/AdvanceComputerVision/TFODCourse
Project/id-card-extractor/weights/
.aider*
