opencv-contrib-python
caer
requests~=2.32.3
torch~=2.4.0
tqdm~=4.66.5
pandas~=2.2.2
numpy~=1.26.4
matplotlib~=3.9.2
flask~=3.0.3
opencv-python~=4.10.0.84
nltk~=3.9.1
scikit-learn~=1.5.2
pyyaml~=6.0.2
pillow~=10.4.0
torchvision~=0.19.0
ultralytics~=8.2.85
seaborn~=0.13.2
scipy~=1.14.1
typing~=3.7.4.3
datetime~=5.5
psutil~=6.0.0
thop~=0.1.1-2209072238
fastapi~=0.112.2
sqlalchemy~=2.0.34